<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

	<connectionStrings>
		<!--Data Source=192.168.70.70,1569;Initial Catalog=itsfeb;Integrated Security=True;-->
		<add name ="myconnstrng" connectionString="Data Source=192.168.70.70,1569;Initial Catalog=itsfeb;User ID=itstrainee;Password=itstrainee;"/>
	</connectionStrings>
</configuration>